@font-face {
    font-family: bold;
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}


@font-face {
    font-family: regular;
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}


@font-face {
    font-family: light;
    src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}